{% block title %}## Coverage report{% if subproject_id %} ({{ subproject_id  }}){% endif %}{% endblock title %}
{% block coverage_badges -%}
<span>
{% block coverage_evolution_badge -%}
{% set text = "Coverage for the whole project went from " + ("unknown" if previous_coverage_rate == None else previous_coverage_rate | pct) + " to " + coverage.info.percent_covered | pct -%}
<img title="{{ text }}" alt="{{ text }}" src="{{ 'Coverage evolution' | generate_badge(message=('?' if previous_coverage_rate == None else previous_coverage_rate | pct) + ' > ' + coverage.info.percent_covered | pct, color=previous_coverage_rate | get_evolution_color(coverage.info.percent_covered)) }}">
{% endblock coverage_evolution_badge -%}
{% block pr_coverage_badge -%}
{% set text = diff_coverage.total_percent_covered | pct + " of the code lines added by this PR are covered"  -%}
<img title="{{ text }}" alt="{{ text }}" src="{{ 'PR Coverage' | generate_badge(message=diff_coverage.total_percent_covered | pct, color=diff_coverage.total_percent_covered | get_badge_color) }}">
{% endblock pr_coverage_badge -%}
{% block branch_coverage_badge -%}
{% if coverage.meta.branch_coverage and coverage.info.num_branches -%}
{% set text = "Branch coverage for the whole project on this PR is " + (coverage.info.covered_branches / coverage.info.num_branches) | pct -%}
<img title="{{ text }}. A branch is a possible way to traverse the code. For example, each if statement adds 2 branches to the code." alt="{{ text }}" src="{{ 'Branch Coverage' | generate_badge(message=(coverage.info.covered_branches / coverage.info.num_branches) | pct, color=(coverage.info.covered_branches / coverage.info.num_branches) | get_badge_color) }}">
{% endif -%}
{% endblock branch_coverage_badge -%}
</span>
{%- endblock coverage_badges %}

{% block coverage_by_file -%}
{%if diff_coverage.files -%}
<details>
<summary>{% block coverage_by_file_summary_wording -%}Diff Coverage details (click to unfold){% endblock coverage_by_file_summary_wording -%}</summary>
{% for filename, diff_file_coverage in diff_coverage.files.items() -%}
{% block coverage_single_file scoped %}
{% block coverage_single_file_title scoped %}### [{{ filename }}]({{ filename | file_url }}){% endblock coverage_single_file_title %}
{% block diff_coverage_single_file_wording scoped -%}
`{{ diff_file_coverage.percent_covered | pct }}` of new lines are covered (`{{ coverage.files[filename].info.percent_covered | pct }}` of the complete file).
{%- endblock diff_coverage_single_file_wording %}
{%- if diff_file_coverage.violation_lines -%}
{% block single_file_missing_lines_wording scoped -%}
{% set separator = joiner(", ") %}
Missing lines: {% for lines in diff_file_coverage.violation_lines_collapsed %}{{ separator() }}[`{{ lines[0] }}{{ "-" ~ lines[1] if lines[1] > lines[0] }}`]({{ filename | file_url(lines) }}){% endfor %}
{%- endblock single_file_missing_lines_wording %}
{%- endif %}
{% endblock coverage_single_file -%}
{%- endfor %}
</details>
{%- endif %}
{%- endblock coverage_by_file %}
{{ marker }}
